version: "3.9"

services:

  auth-service-db:
    image: postgres:latest
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_DB: ${AUTH_DB_NAME}
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
    ports:
      - "${AUTH_DB_PORT}:5432"
    volumes:
      - "/Users/tanmaykadam/Tanmay Projects/Docker/db_volumes/auth-service-db:/var/lib/postgresql"

# No named volumes needed if you use host paths